* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#banner {
    background: url(../images/background/back1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.7), #ffbda9);
    opacity: 0;
    transition: 1s;
}

.logo {
    width: 230px;
    position: absolute;
    top: 4%;
    left: 10%;
    color: rgb(255, 36, 47);
    text-decoration: none;
    text-transform: uppercase;
}

.logo a:link {
    text-decoration: none;
}

.logo a:hover {
    color: rgb(255, 36, 47);
}

.logo a:visited {
    text-decoration: none;
    color: rgb(255, 36, 47);
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 260px;
}

.banner-text h2 {
    font-size: 130px; 
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
}

/*--Navigation--*/
#navbar {
    font-size: 20px;
    width: 350px;
    position: absolute;
    top: 4.5%;
    right: 10%;
}
#navbar li {
    display: inline-block;
}
#navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;   
    color:rgb(255, 36, 47);
}
#navbar a:hover {
    color:#3a3a3a;
}

/*--Homepage--*/
#headline {
    width: 100%;
    padding: 20px 0 10px 0;
    background: #efefef;
}
.headline-text {
    text-align: center;
    padding: 20px 20px;
}
.headline-text h2 {
    font-size: 30px;
    text-transform: uppercase;
}
.headline-text p {
    margin: auto;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold; 
    color: #000000;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.headline-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-headline {
    flex-basis: 49%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 10px;
    color: rgb(255, 36, 47);
    position: relative;
    background-color: #ffffff;
}
.single-headline img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.headline-hold {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
.first-text {
    text-align: center;
    padding-bottom: 70px;
}
.first-text h2 {
    font-size: 50px;
}
.first-text p {
    margin: auto;
    font-size: 20px; 
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

/*--signup form--*/
#signup {
    background: url(../images/background/signup_new.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.signup-form {
    margin: 280px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 300px;
    position: absolute;
    left: 60%;
    padding: 30px;
}
.signup-form h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fafafa;
    margin-bottom: 20px;
} 
.signup-form p {
    font-size: 18px;
    color: #fafafa;
    margin-bottom: 10px;
} 
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}
.text-input:hover {
   border-color: #af6300;
}
.join-button {
    margin-top:5px;
    border-radius:5px;
    padding: 5px 26px 5px 26px;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    display: block;
}
.join-button:hover {
    background-color: #af6300;
    color: #ffffff;
}

/*--recepy--*/
#recepy {
    width: 100%;
    padding: 40px 0 5px;
    background: #efefef;
}
.recepy-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-recepy {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    position: relative;
}
.single-recepy img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.7), #ffbda9);
    opacity: 0;
    transition: 1s;
}
.single-recepy:hover .overlay {
    opacity: 1;
}
.recepy-hold {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
.hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.recepy-hold p {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
.recepy-hold a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; 
    font-size: 14px;
    font-weight: 700;
    color:rgb(255, 255, 255);
}
.recepy-hold a:hover {
    color:#3a3a3a;
}
.single-recepy:hover .recepy-hold {
    bottom: 40%;
    opacity: 1;
}

/*--footer--*/
.social-networks {
    text-align: center;
    padding: 10px 0 30px;
    background: #efefef;
}
.social-networks i {
    font-size: 160%;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(255, 36, 47);
}
.social-networks i:hover {
    color: #3a3a3a;
}

/*--gallery--*/
#galleria {
    background: url(../images/background/back2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    background-color: #efefef;
}

#photo > img {
    width: 100%;
}