* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*--Navigation--*/
#navbar {
    display: flex;
    justify-content: center;
}
#navbar ul {
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
    top: 7%;
}
#navbar li {
    display: inline-block;
}
#navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;   
    color:rgb(255, 255, 255);
    padding: 5px;
}
#navbar a:hover {
    color:rgb(170, 0, 0);
}
/*--Home Page--*/
#banner {
    background: linear-gradient(rgba(87, 43, 30, 0.116),#000000),url(../images/background/back1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 26rem;
}
.banner-text h2 {
    font-size: 13rem; 
}
.banner-text p {
    font-size: 2rem;
    font-style: italic;
}
.headline {
    width: 100%;
    padding: 2rem 0 1rem 0;
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
}
.headline-text {
    text-align: center;
    padding: 2rem 2rem;
}
.headline-text h2 {
    font-size: 3rem;
    text-transform: uppercase;
}
.headline-text p {
    margin: auto;
    padding: 1rem 4rem;
    font-size: 16px;
    font-weight: bold; 
    color: #000000;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.headline-text a {
    font-size: 1.6rem;
    font-weight: bold; 
    color: #000000;
    text-decoration: none;
}
.redirect-button {
    width: 12rem;
    text-decoration: none;
    display: inline-block;
    margin: 0.6rem 0;
    padding: 1rem 0;
    color: rgb(170, 0, 0);
    border: 1px solid rgb(0, 0, 0)
}
.redirect-button:hover {
    background-color: #ff3636;
    color: #ffffff;
}
.headline-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-headline {
    flex-basis: 49%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 1rem;
    color: rgb(255, 36, 47);
    position: relative;
    background-color: #ffffff;

}
.single-headline img {
    width: 100%;
    border-radius: 0.7rem;
    height: auto;
    
}
.headline-hold {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
.first-text {
    text-align: center;
    padding-bottom: 7rem;
}
.first-text h2 {
    font-size: 5rem;
}
.first-text p {
    margin: auto;
    font-size: 2rem; 
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
/*--Signup Form--*/
#signup {
    background: url(../images/background/signup_new.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.signup-form {
    margin: 28rem 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 30rem;
    position: absolute;
    left: 60%;
    padding: 3rem;
}
.signup-form h2 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #fafafa;
    margin-bottom: 2rem;
} 
.signup-form p {
    font-size: 1.8rem;
    color: #fafafa;
    margin-bottom: 1rem;
} 
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 2.5rem;
    margin: 5px 0 2rem 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}
.text-input:hover {
   border-color: #af6300;
}
.join-button {
    margin-top:5px;
    border-radius:5px;
    padding: 5px 2.6rem 5px 2.6rem;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    display: block;
}
.join-button:hover {
    background-color: #af6300;
    color: #ffffff;
}
/*--Recepy--*/
#recepy {
    width: 100%;
    padding: 4rem 0 5px;
    background: #efefef;
}
.recepy-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-recepy {
    flex-basis: 48%;
    text-align: center;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    position: relative;
}
.single-recepy img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 0.7rem;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.7), #ffbda9);
    opacity: 0;
    transition: 1s;
}
.single-recepy:hover .overlay {
    opacity: 1;
}
.recepy-hold {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
.hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 1.5rem auto;
    width: 60%;
}
.recepy-hold p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
}
.recepy-hold a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; 
    font-size: 1.4rem;
    font-weight: 700;
    color:rgb(255, 255, 255);
}
.recepy-hold a:hover {
    color:#3a3a3a;
}
.single-recepy:hover .recepy-hold {
    bottom: 40%;
    opacity: 1;
}
/*--footer--*/
.social-networks {
    text-align: center;
    padding: 1rem 0 3rem;
    background: #efefef;
}
.social-networks i {
    font-size: 160%;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(255, 36, 47);
}
.social-networks i:hover {
    color: #3a3a3a;
}
/*--Gallery Page--*/
#galleria {
    background: linear-gradient(rgba(209, 105, 35, 0.103),#000000),url(../images/background/back2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    background-color: #efefef;
}
#photo > img {
    width: 100%;
}
/*--Recipe Page--*/
#mat {
    background: linear-gradient(rgba(87, 43, 30, 0.116),#000000),url(../images/background/back4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#plate {
    width: 100%;
    padding: 3rem 0 5px;
    background: #efefef;
}
.food-box {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-food {
    flex-basis: 24%;
    text-align: center;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    position: relative;
}
.single-food img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0.7rem;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.781), #d36b0b9d);
    opacity: 0;
    transition: 1s;
}
.single-food:hover .overlay {
    opacity: 1;
}
.food-hold {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
.food-hold p {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
}
.food-hold a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; 
    font-size: 1.4rem;
    font-weight: 700;
    color:rgb(0, 0, 0);
}
.food-hold a:hover {
    color:#ffffff;
}
.single-food:hover .food-hold {
    bottom: 24%;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .headline-box {
        width: 80%;
        display: block;
        margin: auto;
    }
  }


